body {
  background-color: #ECF0F1;
  margin: 5px;
}

a:hover {
  text-decoration: none;
}

.space {
  padding: 25px;
}

.vcenter{
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translateX(-25%);
  transform: translateY(-30%);
}

.top-info{
  height: 35%;
  width: 100%;

}
